{% extends 'bootstrap/base.html' %}
{% block html_attribs %} lang="en"{% endblock %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='bootstrap_lux.min.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='homepage.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='/assets/DAC_logo.png') }}">

{% endblock %}

{% block title %}
    {% if title %}{{ title }} {% else %}Virginia Tech{% endif %}
{% endblock %}
{% block navbar %}
<nav class="navbar fixed-top navbar-light bg-light">
        <div class="flex-grow-1 d-flex">
            <div class="d-flex">
                <div class="d-flex " >
                   <a class="nav-item nav-link h2" href="/home">Home</a>
                </div>
                <div  class="d-flex justify-content-end">
                     <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle h2" data-toggle="dropdown">Visual Analysis</a>
                        <div class="dropdown-menu">
                            <a href="/dashapp" class="dropdown-item nav-item nav-link h2">Real Data</a>
                            <a href="/generatedData_page" class="dropdown-item nav-item nav-link h2">Generated Data</a>
                        </div>
                     </div>
                </div>


            </div>
            <div class="d-flex ml-auto">
                <span class="navbar-brand" href="#">
                    <a href="https://dac.cs.vt.edu/"><img src="/static/assets/DAC_logo.png"
                         width="30" height="30"
                         class="d-inline-block" alt="Virginia Tech">
                    </a>
                </span>
            </div>
        </div>
</nav>

{% endblock %}
{% block content %}

    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">
            placeholder
        </h1>
        <p class="lead">
            placeholder
        </p>
      </div>
    </div>

    <div class="container">

    </div>
{% endblock %}
{% block footer %}
{% endblock %}