{% extends 'bootstrap/base.html' %}
{% block html_attribs %} lang="en"{% endblock %}
{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('static', filename='bootstrap_lux.min.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='homepage.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='DAC_logo.png') }}">

{% endblock %}

{% block title %}
    {% if title %}{{ title }} {% else %}Virginia Tech{% endif %}
{% endblock %}
{% block navbar %}
<nav class="navbar fixed-top navbar-light bg-light">
        <div class="container d-flex align-content-around  flex-wrap">
            <div class="d-flex  justify-content-start ">
                <div class=" align-self-start h2" >
                   <a class="nav-item nav-link" href="/home">Home</a>
                </div>
                <div  class="align-self-end h2">
                    <a class="nav-item nav-link active" href="/dashapp">Visualization Dashboard</a>
                </div>
            </div>
            <div class="d-flex justify-content-end">
            <a class="navbar-brand" href="#">
            <img src="/static/DAC_logo.png" width="30" height="30" class="d-inline-block align-top" alt="Virginia Tech">

            </a>
        </div>
        </div>

        </nav>

{% endblock %}
{% block content %}

    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">
            placeholder
        </h1>
        <p class="lead">
            placeholder
        </p>
      </div>
    </div>

    <div class="container">

    </div>
{% endblock %}
{% block footer %}
{% endblock %}