
{% extends "base.html" %}
{% block title %}
Homepage
{% endblock %}

{% block content %}

     <div class="jumbotron">
      <div class="container ">
        <h3 class="display-4 align-items-center">Project statement</h3>
        <p class = "lead">What is Cybersecurity?</p>
        <p class="m-4">
        	Cybersecurity is the art of protecting networks, devices, and data from unauthorized access or criminal use and the practice of ensuring confidentiality, integrity, and availability of information.
        </p>
        <p class = "lead">Why is Cybersecurity important?</p>
        <p class="m-4">
        	Cybersecurity is a key concern not only for computer scientists, but also for professionals from all relevant disciplines. Lack of cybersecurity can affect businesses, state governments, and even national security.
		We are enduring the prevalence of cyber-threats and attacks. Cyberattacks are considered a threat against critical infrastructure sectors, and malicious cyber-activity has cost the US economy $57 to $109 billion in 2016.
        </p>     
        <p class = "lead">What can we do with deep learning for cybersecurity?</p>
	<p class="m-4">
		Network traffic content is generated rapidly with tremendous volume, which makes human annotation not possible. A more feasible solution is to develop algorithms to inspect the network traffic. 
		But there is a concern of violating privacy for organizations to share real-life data for the training of algorithms. Therefore, to achieve training data for classification of network traffic, 
		we propose to utilize generative models such as GAN for generating synthetic cybersecurity data. 
	</p>
	<p class = "lead">What we have done to generate synthetic data?</p>
	<ul>
		<li><p class = "m-4">     
	      	We designed and prototyped ANDS, a novel tool that learns joint distribution of multivariate time-series data for netflows, and then generates synthetic data from the learned distribution. 
	      	</p></li>
		<li><p class = "m-4">     
	      	We evaluate ANDS on real publicly available network traffic data, and compare with baselines.
		</p></li>
		<li><p class = "m-4">     
	      	We consider two cybersecurity machine learning tasks and show that while using only ANDS generated data to train the models, the performance of the models is comparable to using real data.
		</p></li>	
	</ul>
	<h3 class="display-4 align-items-center">Research Questions</h3>
	<ul>
		<li><p class = "m-4">     
	      	Evaluation Metrics for the synthetic data quality is still an open and important question in the deep generative model research community.
		Unlike images or human languages, many data format are not easy to be judged by human’s eyes, such as network traffic data.
		So how should we define "like real" in network traffic data? 
		</p></li>
		<li><p class = "m-4">     
	      	There are various existing evaluation metrics, either Quantitative & Qualitative, which includes likelihood, KL-divergence, distribution plots, diversity. 
		Then we have domain-knowledge rule check, and we can also train a ML task to compare the performance. 
		Can we have a general metrics across all synthetic data model? Should it be implicit density, tractable density, approximate density, or a mixture of these?
		</p></li>
		<li><p class = "m-4">     
	      	We’ve worked on the network traffic flow data which is only one case in the cybersecurity area. 
		There can be more professional security data synthesis, such as in web request, url, packages, and even cyber-physical system or human-related insider threat.
		Or we can create more realistic application, to apply the techniques with the real company dataset, 
		and then synthetic such data that can solve large scale, publicly reproducible, and industry-concerned problems
		</p></li> 	
	</ul>    
      </div>
    </div>
<br>
<hr>
<br>
    <div class = "container  align-items-center p-4 t-4">
        <p class = "display-4 m-4">What is NetFlow ?</p>
        <p class = "m-4">
        NetFlow is a feature that was introduced on Cisco routers around
        1996 that provides the ability to collect IP network traffic as
        it enters or exits an interface. By analyzing the data provided by NetFlow, a network administrator can determine things such as the source and destination of traffic, class of service, and the causes of congestion. A typical flow monitoring setup (using NetFlow) consists of three main components:
        [1]
Flow exporter: aggregates packets into flows and exports flow records towards one or more flow collectors.
Flow collector: responsible for reception, storage and pre-processing of flow data received from a flow exporter.
Analysis application: analyzes received flow data in the context of intrusion detection or traffic profiling, for example.
	</p>
	</div>
<br>
    <div class="container" style="max-width=70%">
    <img
            class = ".img-fluid"
            src="{{url_for('static', filename='netflow_arch.png')}}" align="middle"
    />
   </div>
    <div class = "container  align-items-center p-4 t-4">
        <p class = "display-4 m-4">What is UGR 16 ?</p>
        <p class = "m-4">
       		UGR 16 is a dataset for the evaluation of cyclostationarity-based network IDSs. The dataset is built with real traffic and up-to-date attacks. 
		These data come from several netflow v9 collectors strategically located in the network of a Spanish ISP. It is composed of two differentiated sets of data that are previously split in weeks:
	</p>
	<ul>
		<li><p class = "m-4">A CALIBRATION set of data gathered from March to June of 2016 (4 months) containing real background traffic data. </p> </li>
		<li><p class = "m-4">A TEST set of data gathered from July to August of 2016 containing real background and synthetically generated traffic data that corresponds with several and well know types of attacks. </p></li>  
	</ul>		
	<p class = "display-4 m-4">What is cyclostationarity ?</p>
        <p class = "m-4">
       		A cyclostationary process is a signal having statistical properties that vary cyclically with time, so it can also be viewed as multiple interleaved stationary processes. 
		Network traffic presents short-term with long-term temporal behaviors, and this fact has been traditionally leveraged for network design and performance evaluation aims. 
	</p>
	<p class = "display-4 m-4">Why is cyclostationarity important ?</p>
	    <p class = "m-4">
		Considering two different simple approaches based on the observation of the network volume traffic, we define thresholds (red dashed lines) as below.
		If traffic volume exceeds the range, an anomaly is signaled. Stationary approach computes fixed threshold values from the statistical variation; 
		cyclostationarity approach considers the fact that threshold vary over time by using mean value of the observed variable computed for the same hour at all days. 
	</p>
    </div>
    <div class="container" style="max-width=70%">
    <img
            class = ".img-fluid"
            src="{{url_for('static', filename='cyclostationarity.png')}}" align="middle"
    />
   </div>
   <div class = "container  align-items-center p-4 t-4">
	<p class = "m-4">
        	From the figure we can see why cyclostationarity of the network flows is necessary to be considered when building models of network flows, as it can enhance the performance of the models hugely from stationary approach. 
	</p>
	<p class = "display-4 m-4">What is the shortcoming of previous works ?</p>
	<p class = "m-4">
		With the importance of understanding the cyclostationarity highlighted, there are only few works have used this feature for anomaly detection purposes in the security context.
		There is no publicly available and well described traffic data sets existing where temporal cyclostationarity is captured before UGR 16. 
		For examples, there are authors use a trace of mobile users’ traffic for a single week and apply Markov models to capture the volume dynamics; 
		due to the respect of privacy of the mobile users, the data is not publicized. In another study of network flow, the data set used is a 6-week duration traffic trace obtained from a campus university.
		As in the previous case, it is not publicly available.
	</p>
	<p class = "display-4 m-4">What makes UGR 16 special ?</p>
	<p class = "m-4">
		The main advantage of this dataset over previous ones is its usefulness for evaluating IDSs that consider long-term evolution and traffic periodicity. 
		Analysis of cyclostationarity is often limited by the short duration of the traces. Datasets need to span for several cycles of study (days or weeks) to make it possible to evaluate the cyclostationarity. 
		Thus, the UGR’16 dataset has been raised, with an essential requirement as capturing long duration network flows, so that the training of algorithms based on it considering cyclostationarity is feasible.
		Models that consider differences in daytime/night or labour weekdays/weekends can also be trained and evaluated with it.
	</p>
</div>
<br>
<hr>
<br>

<div class = "footer container flex-wrap align-items-center p-4 t-4">
    <div class="row  justify-space-between align-items-center">
        <div class="col">
            <img class = "footer_icon img-fluid img-thumbnail"
            src="{{url_for('static', filename='/assets/DAC_logo.png')}}" align="middle" />
            Discovery Analytics Center
        </div>
        <div class="col">      <img class = "footer_icon img-fluid img-thumbnail"
            src="{{url_for('static', filename='/assets/VT_logo.png')}}" align="middle" />
            Virginia Tech
        </div>
    </div>
</div>
{% endblock %}
