
{% extends "base.html" %}
{% block title %}
Homepage
{% endblock %}

{% block content %}

    <div class="jumbotron">
      <div class="container ">
        <h3 class="display-4  align-items-center">Project statement</h3>
        <p class="lead">

        </p>
      </div>
    </div>

    <div class = "container  align-items-center p-4 t-4">
        <p class = "display-4 m-4">What is NetFlow ?</p>
    <p class = "m-4">

    </p>
    </div>
<br>
    <div class="container" style="max-width=70%">
    <img
            class = ".img-fluid"
            src="{{url_for('static', filename='netflow_arch.png')}}" align="middle"
    />

    </div>
{% endblock %}
