
{% extends "base.html" %}
{% block title %}
Homepage
{% endblock %}

{% block content %}

    <div class="jumbotron">
      <div class="container ">
        <h3 class="display-4  align-items-center">Project statement</h3>
        <p class="lead">
          Cybersecurity is an important research area ...
        </p>
      </div>
    </div>

    <div class = "container  align-items-center p-4 t-4">
        <p class = "display-4 m-4">What is NetFlow ?</p>
    <p class = "m-4">
        NetFlow is a feature that was introduced on Cisco routers around 1996 that provides the ability to collect IP network traffic as
        it enters or exits an interface. By analyzing the data provided by NetFlow, a network administrator can determine things such as the source and destination of traffic, class of service, and the causes of congestion. A typical flow monitoring setup (using NetFlow) consists of three main components:
        [1]
Flow exporter: aggregates packets into flows and exports flow records towards one or more flow collectors.
Flow collector: responsible for reception, storage and pre-processing of flow data received from a flow exporter.
Analysis application: analyzes received flow data in the context of intrusion detection or traffic profiling, for example.
    </p>
    </div>
<br>
    <div class="container" style="max-width=70%">
    <img
            class = ".img-fluid"
            src="{{url_for('static', filename='netflow_arch.png')}}" align="middle"
    />

    </div>
{% endblock %}
