body {
margin :7.5%;
}

.jumbotron p{
font-size: 1.35rem !important;
}
.italic_em{
    font-size: 2.25rem;
    font-style: oblique;
}

.round-small-thumbnail{
    border-radius: 50%;
    max-height: 4rem;
}
.container p {
font-size: 1.35rem !important;
}
.footer{
font-size: 2.05rem !important;
}
.footer_icon{
max-height: 75px;
}