{% extends 'bootstrap/base.html' %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='bootstrap.min.css')}}">
{% endblock %}

{% block title %}
    {% if title %}{{ title }} {% else %}Virginia Tech{% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">

        <div class="row">
        <div class="col-xl h3" >
           <a class="nav-item nav-link" href="#">Home</a>
        </div>
        <div class="col-xl h3">
         <a class="nav-item nav-link" href="#">Visualize Time Series</a>
        </div>
        <div class="col-xl h3">
          <a class="nav-item nav-link" href="#">Visualize Data Stats</a>
        </div>
         </div>
    </nav>
{% endblock %}

{% block content %}

    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">
            placeholder
        </h1>
        <p class="lead">
            placeholder
        </p>
      </div>
    </div>

    <div class="container">

    </div>
{% endblock %}